.myAppoint {
  background-color: #F8F9FD;
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {
      box-shadow: 1px 2px 2px #DDD;
      padding: 20px 30px;
      width: 83%;
      border-radius: 30px;
      background-color: white;
      margin-top: 20px;
      .verifyRemark {
        color: #7A7A7A;
      }
    }
    .main {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 20px 0;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .location {
          font-size: 40px;
        }
      }
      .time {
        color: #7A7A7A;
        margin-top: 20px;
      }
      .icon {
        position: relative;
        width: 140px;
        img {
          position: absolute;
          z-index: 1;
          left: 50%; top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
        }
        .status {
          position: absolute;
          color: white;
          left: 50%; top: 50%;
          transform: translate(-50%, -50%);
          width: max-content;
          z-index: 3;
          background: transparent;
        }
      }
    }
    .footer {
      border-top: 1px solid #cac9c9;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
      .apply-time {
        color: #7A7A7A;
      }
    }
  }
  .load {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 50px;
  }
  .no-appoint {
    border-top: 1px solid #DDD;
    text-align: center;
    padding-top: 40px;
  }
}
