.findList {
  background: #F8F9FD;
  .form {
    display:  flex;
    align-items: center;
    font-weight: bold;
    padding: 40px 30px;
    background: white;
    button {
      padding: 3px 15px;
    }
    .selectedDate {
      color: #4B8AF0;
      font-size: large;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {
      padding: 40px 30px;
      width: 85%;
      box-shadow: 4px 4px 10px #DDD;
      background: white;
      margin-top: 30px;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .location {
        position: absolute;
        top: 0; left: 0;
        font-size: small;
        border: 1px dotted red;
        border-radius: 50%;
        width: 35px; height: 35px;
        text-align: center;
        line-height: 35px;
        transform: rotate(-30deg);
      }
      .qin {
        color: #4977F6;
        border-color: #7fa1fd;
      }
      .sha {
        color: #F29F59;
        border-color: #f8c295;
      }
      .txt {
        display: flex;
        align-items: center;
      }
      .desc {
        border: 1px solid red;;
        margin-left: 15px;
        padding: 1px 14px;
        padding-left: 12px;
        border-radius: 25px;
        font-size: small;
        border-bottom-left-radius: 0;
      }
      .red {
        background: #FDF3E7;
        border-color: #F29D53;
        color: #F29F59;
      }
      .green {
        background: #ECFAFC;
        border-color: #59E6A6;
        color: #66E7AC;
      }
      .action {
        position: relative;
        width: 160px;
        img {
          position: absolute;
          z-index: 1;
          left: 50%; top: 50%;
          transform: translate(-50%, -50%);
          width:160px; height: 60px;
        }
        .text {
          position: absolute;
          color: white;
          left: 50%; top: 50%;
          transform: translate(-50%, -50%);
          width: max-content;
          z-index: 3;
          background: transparent;
        }
      }
    }
  }
}
