
.index {
  display: grid;
  height: 100%;
  text-align: center;
  font-size: 40px;
  .leisure{
    background-color: darkgray;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myAppoint {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
